@import "./style//mixins";

.container {
  position: relative;
  overflow: hidden;
}

.container-open {
  position: relative;
  max-width: 1210px;
  max-height: 674px;
  top: 50%;
  margin: auto;

  @include media(4k) {
    left: 1.5rem;
  }

  @include media(desktopL) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
    max-width: 88vw;
  }

  @include media(desktop) {
    flex-direction: column;
    margin-top: 6rem;
    left: 0;
  }

  @include media(tablet) {
    max-height: 100%;
  }

  @include media(phoneM) {
    width: 100%;
    max-width: 100%;
  }
}
